{% extends 'base.html.twig' %}

{% block title %}Publier une annonce{% endblock %}

{% block body %}
<div class="container" style="margin: 50px auto; max-width: 600px;">
    <h1 style="text-align: center; margin-bottom: 30px;">Publier une annonce</h1>

    {{ form_start(form) }}
        
        {{ form_row(form.title) }}
        {{ form_row(form.category) }}
        {{ form_row(form.city) }}
        {{ form_row(form.dateLost) }}
        {{ form_row(form.status) }}
        {{ form_row(form.description) }}
        
        {# L'image #}
        {{ form_row(form.imageFile) }}

        {# On affiche les derniers champs ICI, avant le bouton #}
        {{ form_row(form.color) }}
        {{ form_row(form.keywords) }}
        
        <!-- Le bouton est maintenant TOUT EN BAS -->
        <div style="margin-top: 30px; text-align: center;">
            <button type="submit" class="btn btn-primary" style="padding: 10px 30px; font-size: 1.2em; cursor: pointer;">
                Publier l'annonce
            </button>
        </div>

    {{ form_end(form) }}
</div>
{% endblock %}